apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-uzvtrjih
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-uzvtrjih:ea07ac94f394dd8f16378bab0bc382459cc65028@sha256:6a807e63f1d0ae660282d9b4656e4f7d104a28c0702051237e84cf55f5e59fe0
        name: container-image  
